{{!
    This file is part the Local SITS Grade Push plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_examguard/notification_banner

    Template for displaying a notification banner.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * examendtime - The exam end time including buffer time.

    Example context (json):
    {
        "extendtimeurl":"https://moodlesite/local/examguard/extend_time.php?courseid=2&cmid=28",
        "activityname":"Test quiz 1"
    }
}}
<a id="extend_time_button" href="{{extendtimeurl}}" class="btn btn-danger">
    {{#str}} label:extend_time_button, local_examguard {{/str}}
    <span class="sr-only"> for {{activityname}}</span>
</a>
